<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">
   <!-- 1 扫描添加主键的Controller --> 
   <!-- 让SpringMVC配置文件只扫描@Controller注解 -->
   <context:component-scan base-package="com.zhiyou100.controller">
   		<context:include-filter type="annotation" 
   			expression="org.springframework.stereotype.Controller"/>
   </context:component-scan>
   <!-- 2. 开启 使用注解时的 处理器映射器和适配器驱动
    -->
	<mvc:annotation-driven></mvc:annotation-driven>   
   <!-- 3.视图解析器 -->
   <bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
   		<property name="prefix" value="/WEB-INF/"></property>
   		<property name="suffix" value=".jsp"></property>
   </bean>
   
   <!-- 配置文件上传需要的多视图解析器 -->
   <bean id="multipartResolver" 
   			class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
   		<!-- 最大上传大小 -->
   		<!-- 大小不能用算术,写出具体值 -->
		<property name="maxUploadSize" value="10240000"></property> 
		<property name="defaultEncoding" value="utf-8"></property>  
   </bean>
   
</beans>




